<div class="center">
    <div class="header">
        <img src="assets/icon/icon.png">
        <span>Seven Segment Parser</span>
    </div>
    <table>
        <tr>
            <td><input type='file' (change)="readInputFile($event)"></td>
            <td><button (click)="parseInput()">Parse Seven Segments</button></td>
        </tr>
        <tr>
            <td><textarea>{{fileData}}</textarea></td>
            <td><textarea>{{output}}</textarea></td>
        </tr>
    </table>

    <div class="test" *ngIf="output">
        <h1>Test</h1>
        <div>
            <input type='file' (change)="readTestFile($event)">
            <button (click)="testOutput()">Test output</button>
            <h2>{{testResult}}</h2>
        </div>
    </div>
</div>